.ivu-form-item-error-tip{
    margin-left: 15px;
}
.vertical-center-modal{
        display: flex;
        align-items: center;
        justify-content: center;
        .ivu-modal{
            top: 0;
        }
    }

.ivu-modal-body{
    .ivu-modal-header{
        padding: 0px 16px 5px;
    }
    .ivu-form-label-right{
        margin-top: 20px;
    }
}
.ivu-input-hide{ display: none;}
textarea.ivu-input{height: 100px;}
.split{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border: 1px dashed #eee;
}
.ivu-card:hover {box-shadow:none;}

